name: conformance test

on:
  push:
    branches:
      - main

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v6

      - name: setup go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'

      - name: run server
        run: go run main.go

      - name: run OCI Distribution Spec conformance tests
        uses: opencontainers/distribution-spec@main